@{
	Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width"/>
	<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
</head>
<body>
	<div class="text-center">
		<h1>Hello world @ViewBag.Greeting</h1>
		<a class="btn btn-dark" asp-action="RegistrationForm">to Registration Form</a>
	</div>
</body>
</html>