@model TestMVC.Models.GuestResponse

@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>title</title>
	<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
</head>
<body class="text-center">
<div class="text-center">
	<h1>Thank you, @Model.Name!</h1>
	@if (Model.WillAttend == true)
	{
		@: It's great
	}
	else
	{
		@: Sorry to hear that you can't make it.
	}
</div>
<p>Click <a class="nav-link" asp-action="ListGuests">Here</a></p>
</body>
</html>